<section class="hello">
  <h3>Olá</h3>
  <h1>Meu nome é João Santos</h1>
  <p>Sua empresa tem o potencial de alcançar alturas além da sua imaginação, e uma coisa é certa: compartilhamos o mesmo objetivo de superar as metas estabelecidas.</p>
</section>