---
import Card from "../components/Goals.astro";

import goal_card from "../data/goal_card.json"

const goal = goal_card

const { number } = Astro.props;
---

<section id="sobre"  class="lg:mx-40 sm:mx-7 sm:py-24 py-12 flex flex-col items-center gap-8 relative overflow-hidden">
  <!-- <div  class="before:bg-goal xl:before:w-[1540px] xl:before:h-[1454px] before:top-[0px] before:left-[-220px] before:absolute before:rounded-full before:content-['']"></div> -->
  
  <span class="text-[#202124] font-medium sm:text-5xl text-3xl px-10">Alcance todas as suas metas com um sรณ profissional</span>
  
  <a
    href={number}
    class="h-full sm:text-base text-lg border-[#dadce0] border-[1px] rounded-[4px] min-w-24 min-h-12 max-w-96 tracking-[-.5px] font-medium text-[#1a73e8] py-3 px-7 inline-flex items-center justify-center hover:bg-slate-100 hover:border-[#1a73e8] focus:border-[#1a73e8] focus:border-[2px]"
    >Saiba mais</a
  >

  <div class="flex sm:flex-row flex-col items-center sm:flex-wrap justify-center sm:mx-7 mx-5">
    {goal.map((g) => (
    <Card 
      src={g.image}
      title={g.title}
      text={g.text}
    />
    ))}
  </div>

</section>
