---
import Schedule from "@/components/Schedule"
---

<section class="lg:my-16 my-12 lg:mx-20 md:mx-10 mx-0 pt-16 flex justify-center items-center">
  <article class="py-16 sm:px-16 px-8 md:rounded-3xl rounded-none bg-[#f8f9fa] flex flex-col justify-center items-center">
    <span class="font-medium md:text-5xl text-3xl text-[#202124] mb-6">Podemos ajudar.</span>
    <p class="text-xl text-[#202124]">Comece a alcançar clientes diariamente. Crie um plano personalizado de anúncios com o melhor especialista do ramo.</p>
    
    <div class="mt-9">
      <Schedule client:idle/>
    </div>
  </article>
</section>