---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
import Home from "./Home.astro";
import Search from "./Search.astro";
import Goal from "./Goal.astro";
import Power from "../components/Power.astro";

import power_card from "../data/power_card.json"
import Button from "../components/Button.astro";

const power = power_card
---

<Layout title="João Paulo Moreira">
	<Header />
	<Home />
	<Search />
	<Goal />
	<section class="mt-28 sm:mx-20 mx-7 h-auto relative">
		<span class="font-medium sm:text-5xl text-3xl text-[#202124]"
			>O poder do Google <p class="text-[#1a73e8]">para sua empresa</p></span
		>

		<div class="mt-12 flex flex-col items-center justify-center">
			{power.map((g) => (
				<Power 
					src={g.image}
					title={g.title}
					text={g.text}
				/>
			))}
		</div>
	</section>
	<Button />
</Layout>
