---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
---

<Layout title="João Paulo Moreira">
	<Header></Header>

	<main class="my-[80px]">
		<div>
			<div>
				<h2>Aumente as vendas</h2>
			</div>
			
			<div>
				<div class="">
					
				</div>
			</div>
			
			<div>
				<p>com o Google Ads</p>
			</div>
		</div>
	</main>
</Layout>