---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
import Home from "./Home.astro";
import Search from "./Search.astro";
import Goal from "./Goal.astro"
---

<Layout title="João Paulo Moreira">
	<Header />
	<Home />
	<Search />
	<Goal />

	<section class="mt-28 h-auto w-full">
		<span class="font-medium text-5xl text-[#202124] mb-12">O poder do Google <p class="text-[#1a73e8]">para sua empresa</p></span>
	</section>
</Layout>
