<div class="bg-white shadow-button py-[10px] px-[15px] w-full fixed bottom-0 sm:hidden block">
  <a href="https://wa.me/message/26GQT5PDR5YAB1" target="_blank" class="bg-[#1a73e8] text-white m-0 w-full text-base font-medium py-3 px-6 rounded-sm sm:hidden block">Entrar em contato</a>
</div>