---
interface Props {
	title: string
}

const { title } = Astro.props
---

<!doctype html>
<html lang='pt-br'>
	<head>
		<meta charset='UTF-8' />
		<link rel="canonical" href="https://joaogestor.com.br/">
		<meta name="author" content="João Paulo Moreira">
		<meta name="keywords" content="gestor de tráfego, google ads, facebook ads, instagram ads, anúncios online, marketing digital, anúncios online, agência de marketing, publicidade online, anunciar" />
		<meta name='description' content='Especialista em gestão de anúncios com domínio do Google Ads e Facebook Ads e mais de R$ 60 mil gerenciados apenas em anúncios no Google para diversas empresas no Brasil todo.' />
		<meta property="og:title" content="Gestor João - Especialista em Tráfego">
		<meta property="og:description" content="Serviço profissional de gestão de tráfego para aumentar sua visibilidade online e atrair mais clientes. Entre em contato para saber mais.">
		<meta property="og:type" content="website">
		<meta property="og:url" content="https://joaogestor.com.br/">
		<meta property="og:site_name" content="Gestor João">
		<meta property="og:locale" content="pt_BR">
		<meta property="og:image" content="https://raw.githubusercontent.com/joaomni/joaogestor/main/public/black_logo.png">
		<meta name="theme-color" content="#ffffff">
		<meta name='viewport' content='width=device-width' />
		<link
			rel='icon'
			type='image/svg+xml'
			href='https://raw.githubusercontent.com/joaomni/joaogestor/main/public/white_logo.png'
		/>
		<link rel='preconnect' href='https://fonts.gstatic.com' />
		<link rel='preconnect' href='https://fonts.googleapis.com' />
		<link
			rel='stylesheet'
			href='https://fonts.googleapis.com/css?family=Material+Icons|Material+Icons+Outlined|Google+Sans:400,500,700|Google+Sans+Text:400,500,700|Google+Sans+Display:400,500,700|Roboto:400,500,700&display=swap'
			rel='stylesheet'
		/>
		<meta name='generator' content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
		<slot />

		<footer class='bg-[#f8f9fa] mt-6 flex flex-col justify-start'>
			<span
				class='text-base text-[#202124] pb-2 pt-10 mr-auto lg:ml-16 ml-10 text-left'
				>Alcance todas as metas da sua empresa com a melhor estratrégia do mercado.</span
			>

			<div
				class='py-10 lg:mx-16 mx-10 flex sm:flex-row flex-col sm:items-center items-start justify-start gap-6 text-left'
			>
				<a
					class='hover:text-[#202124] mr-2 sm:text-lg text-[#5F6368] text-base font-medium'
					href='/'>Gestor João</a
				>

				<a
					class='text-[#5f6368] sm:text-lg text-base font-medium hover:text-[#202124]'
					href='/privacy-policy'>Privacidade</a
				>
				<a
					class='text-[#5f6368] sm:text-lg text-base font-medium hover:text-[#202124]'
					href='/terms'>Termos</a
				>
				<a
					class='hover:text-[#202124] text-[#5f6368] sm:text-lg text-base font-medium'
					href='https://www.linkedin.com/in/joaomni/' target="_blank">LinkedIn</a
				>
			</div>

			<hr class='w-11/12 mx-auto pt-10' />
		</footer>
	</body>
</html>
<style is:global>
	:root {
		--accent: 136, 58, 234;
		--accent-light: 224, 204, 250;
		--accent-dark: 49, 10, 101;
		--accent-gradient: linear-gradient(
			45deg,
			rgb(var(--accent)),
			rgb(var(--accent-light)) 30%,
			white 60%
		);
	}
	* {
		box-sizing: border-box;
		view-transition-name: root;
	}
	html {
		height: 1000px;
		-ms-text-size-adjust: 100%;
		-webkit-text-size-adjust: 100%;
		scroll-behavior: smooth;
		overflow-y: auto;
	}
	body {
		display: block;
		min-height: 100%;
		background-color: #ffffff;
		font-family:
			Google Sans,
			Google Sans Text,
			Roboto,
			Arial,
			sans-serif;
		color: #5f6368;
		font-size: 16px;
		line-height: 24px;
		font-weight: 400;
		text-align: center;
	}
</style>
